<div class="top">

  <div class = "top_all">

  <div class = "top_title">もっと手軽に診療を</div>

  <div class = "top_main">
    <div class = "top_box">
      
        <div class ="top_box_left">What this site?
          <div class = "top_box_str">クリニックの診察状況がわかりますaaaaaaaaaaaaa</div>
        </div>
        <div class ="top_box_center">待合時間の削減
          <div class = "top_box_str">待ち時間を減らせますあああああああああああああああああああ</div>
        </div>
        <div class ="top_box_right">How to use?
          <div class = "top_box_str">ご登録おねがしますああああああああああああああああああああ</div>
        </div>
      
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  


  <div><%=link_to "クリニックご登録はこちらから", new_hospital_path, class:"top-btn" %></div>
  
  <div><%=link_to "クリニック一覧へ", hospitals_path, class:"top-btn" %></div>



</div> 