

/* タイトル付　枠（影）2　*/
.kakomi-box13 {
  position: relative;
  margin: 2em auto;
  padding: 1.2em;
  width: 90%;
  color: #555555; /* 文字色 */
  background-color: #fff;
  border: 2px solid #f09199; /* 枠線の太さ・色 */
  box-shadow: 0 0 5px 2px #fce2c4 inset;/* 影の色 */
 }
 .title-box13 {
  position: absolute;
  padding: 0 .5em;
  left: 20px;
  top: -15px;
  font-weight: bold;
  background-color:  #fff; /* タイトル背景色 */
  color: #f09199; /* タイトル文字色 */
 }

 .index_main{
  display: flex;
  justify-content: space-between;
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }
 